<div class="player-section">
  <div class="container">
    <div class="mb-5 row mt-3" id="playerDiv" style="display:none">
      <div class="col-12" id="video_container" style="padding:0">
      </div>
    </div>

    <div class="mb-5 row mt-3" id="playerSecondary" style="display:none">
      <div class="col-12" id="video_container_secondary" style="padding:0">
      </div>
    </div>

    <div class="mb-5 row mt-3" id="playerTrailer" style="display:none">
    </div>

    <div class="row mt-3" id="detail-meta">
      <div class="col-md-4 col-12">
        <div class="item">
          <div class="img-4-6">
            <div class="inline">
              <img
                [alt]="movie?.name + movie?.release_date ? ' (' + movie?.release_date + ')' : ''" data-src="{{movie?.poster}}"
                loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-12 detail-vod-left">
        <div class="detail">
          <p class="detail-info">
            <a [routerLink]="['/kieu-phim', movie?.movie_type?.name]">{{ movie?.movie_type?.name }}</a>
            <a>{{ movie?.release_date }}</a>
          </p>
          <h2 class="title-vod mt-2">{{ movie?.name }}</h2>
          <h3
            class="title-vod mt-2">{{ movie?.origin_name }} {{ movie?.release_date ? '(' + movie?.release_date + ')' : '' }}</h3>

          <div class="func mt-2">
            <a class=""><i aria-hidden="true" class="fa fa-exclamation-triangle" style="color: red"></i> Báo lỗi</a>
            <a class="trailer">Xem Trailer</a>
          </div>

          <div class="row mt-2">
            <div class="col-6 col-md-3">
              <button class="btn-play-small" id="btnPlay">Play</button>
            </div>
          </div>

          <div class="mt-2"><p>{{ movie?.description }}</p></div>

          <div class="row mt-4">
            <div class="col-md-6 col-12">
              <ul class="more-info">
                <li>
                  <span>Thời lượng: </span> 84 phút
                </li>
                <li><span>Đạo diễn: </span> Lloyd Lee Barnett</li>
                <li><span>Quốc gia: </span> Mỹ</li>
                <li><span>Thể loại: </span>
                  Hành động,
                  Kiếm hiệp, võ thuật,
                  Phim lẻ,
                </li>
                <li><span>Phát hành: </span> {{ movie?.release_date }}</li>
                <li><span>IMDB: </span> {{ movie?.release_date }}</li>
              </ul>
            </div>
            <div class="col-md-6 col-12">
              <ul class="more-info">
                <li><span>Diễn viên: </span> Christian Oliver, Les Brandt, Cary-Hiroyuki Tagawa</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="main-content">
  <div class="support-func ml-auto"><a class="icon-support"></a></div>
  <div class="container">

    <div class="panel-vod">
      <div class="title-cate"><span>Liên quan</span></div>
      <div class="list-vod row category-tabs-item">
        <div *ngFor="let data of this.movieRelated" class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a [routerLink]="['/phim', data.slug]">
            <div class="img-4-6">
              <div class="inline">
                <img
                  [alt]="data.name"
                  data-src="{{data.poster}}" loading="lazy">
              </div>
            </div>
            <h3>{{ data.name }}</h3>
            <p
              class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
