<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }"
  [nzFooter]="footerTpl"
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  [nzWidth]="'50%'"
  nzTitle="Sửa tập phim"
>
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Tập phim</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tập phim">
        <input formControlName="name" nz-input placeholder="Nhập tập phim"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Trạng thái</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng chọn trạng thái">
        <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái">
          <nz-option *ngFor="let option of status" [nzLabel]="option.label" [nzValue]="option.value" nzCustomContent>
            <nz-badge *ngIf="option.badge" [nzStatus]="option.badge"></nz-badge>
            {{ option.label }}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button [hidden]="true" nz-button nzType="primary">Submit</button>
  </form>

  <nz-table #basicTable [nzData]="episodeDetails">
    <thead>
    <tr>
      <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngIf="!editCache[data.episode_detail_id].edit; else editTemplate">
        <td>#{{data.episode_detail_id}}</td>
        <td>{{data.name}}</td>
        <td>
          <nz-badge [nzStatus]="mapDefaultStatus(data.status)?.badge"></nz-badge>
          <span class="text-capitalize">{{ mapDefaultStatus(data.status)?.label }}</span>
        </td>
        <td class="text-md-right">
          <button (click)="startEdit(data.episode_detail_id)" class="m-r-5" nz-button nz-tooltip
                  nzShape="circle"
                  nzTooltipTitle="Sửa" nzType="default" type="button">
            <i nz-icon nzType="edit" theme="outline"></i>
          </button>

          <button nz-button nz-popconfirm nz-tooltip
                  nzPopconfirmPlacement="bottom"
                  nzPopconfirmTitle="Xác nhận xoá?"
                  nzShape="circle"
                  nzTooltipTitle="Xoá" nzType="default" type="button">
            <i nz-icon nzType="delete" theme="outline"></i>
          </button>
        </td>
      </ng-container>

      <ng-template #editTemplate>
        <td>#{{data.episode_detail_id}}</td>
        <td>
          <nz-form-control nzErrorTip="Vui lòng nhập tập phim">
            <input [(ngModel)]="editCache[data.episode_detail_id].data.name" nz-input placeholder="Nhập tập phim"/>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control nzErrorTip="Vui lòng chọn trạng thái">
            <nz-select [(ngModel)]="editCache[data.episode_detail_id].data.status" nzPlaceHolder="Chọn trạng thái">
              <nz-option *ngFor="let option of status" [nzLabel]="option.label" [nzValue]="option.value" nzCustomContent>
                <nz-badge *ngIf="option.badge" [nzStatus]="option.badge"></nz-badge>
                {{ option.label }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </td>

        <td class="text-md-right">
          <button (click)="saveEdit(data.episode_detail_id)" class="m-r-5" nz-button nz-tooltip
                  nzShape="circle"
                  nzTooltipTitle="Lưu" nzType="default" type="button">
            <i nz-icon nzType="check" theme="outline"></i>
          </button>

          <button (click)="cancelEdit(data.episode_detail_id)" nz-button nz-tooltip
                  nzShape="circle"
                  nzTooltipTitle="Huỷ" nzType="default" type="button">
            <i nz-icon nzType="close" theme="outline"></i>
          </button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>

  <ng-template #footerTpl>
    <div style="float: right">
      <button (click)="close()" nz-button style="margin-right: 8px;">Huỷ</button>
      <button (click)="submitForm()" [nzLoading]="isLoading" nz-button nzType="primary">Cập nhật</button>
    </div>
  </ng-template>
</nz-drawer>
