<section [attr.id]="nzId" [ngClass]="{ expand: nzExpanded }" class="code-box">
  <section class="code-box-demo">
    <div
      *ngIf="!showIframe"
      [class.browser-mockup]="simulateIFrame"
      [class.simulate-iframe]="simulateIFrame"
      [class.with-url]="simulateIFrame"
      [style.height.px]="simulateIFrame && nzIframeHeight"
    >
      <ng-content select="[demo]"></ng-content>
    </div>
    <div *ngIf="showIframe" class="browser-mockup with-url">
      <iframe [height]="nzIframeHeight" [src]="iframe" title="demo"></iframe>
    </div>
  </section>
  <section class="code-box-meta markdown">
    <div class="code-box-title">
      <a (click)="navigateToFragment()"
      >{{ nzTitle }}
        <a [attr.href]="nzHref" class="edit-button" rel="noopener noreferrer" target="_blank">
          <i nz-icon nzType="edit"></i>
        </a>
      </a>
    </div>
    <div class="code-box-description">
      <ng-content select="[intro]"></ng-content>
    </div>
    <div class="code-box-actions">
      <i
        (click)="copyCode()"
        [class.ant-tooltip-open]="copied"
        [nzTooltipTitle]="!copyLoading ?
        language==='zh'? '复制代码' : 'Copy Code' :
        language==='zh'? '加载中...' : 'Loading...'"
        [nzType]="copied ? 'check' : 'snippets'"
        class="code-box-code-copy"
        nz-icon
        nz-tooltip
      ></i>
      <i
        (click)="copyGenerateCommand(nzGenerateCommand)"
        *ngIf="nzGenerateCommand"
        [class.ant-tooltip-open]="commandCopied"
        [nzTooltipTitle]="language==='zh'? '复制生成代码命令' : 'Copy Generate Command'"
        [nzType]="commandCopied ? 'check' : 'code'"
        class="code-box-code-copy"
        nz-icon
        nz-tooltip
      ></i>
      <span (click)="expandCode(!nzExpanded)"
            [nzTooltipTitle]="nzExpanded ?
            (language==='zh'? '收起代码' : 'Hide Code') :
            (language==='zh'? '显示代码' : 'Show Code')"
            class="code-expand-icon"
            nz-tooltip>
        <ng-container [ngSwitch]="theme">
          <ng-container *ngSwitchCase="'dark'">
              <img
                [class.code-expand-icon-hide]="!nzExpanded"
                [class.code-expand-icon-show]="nzExpanded"
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/antfincdn/btT3qDZn1U/wSAkBuJFbdxsosKKpqyq.svg"
              />
              <img
                [class.code-expand-icon-hide]="nzExpanded"
                [class.code-expand-icon-show]="!nzExpanded"
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/antfincdn/CjZPwcKUG3/OpROPHYqWmrMDBFMZtKF.svg"
              />
          </ng-container>
          <ng-container *ngSwitchDefault>
             <img
               [class.code-expand-icon-hide]="!nzExpanded"
               [class.code-expand-icon-show]="nzExpanded"
               alt="expand code"
               src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg"
             />
              <img
                [class.code-expand-icon-hide]="nzExpanded"
                [class.code-expand-icon-show]="!nzExpanded"
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg"
              />
          </ng-container>
        </ng-container>

      </span>
    </div>
  </section>
  <section [ngClass]="{ 'highlight-wrapper-expand': nzExpanded }" class="highlight-wrapper">
    <div class="highlight">
      <ng-content select="[code]"></ng-content>
      <nz-highlight [nzCode]="codeLoaded ?
      highlightCode :
      language === 'zh' ? '加载中' : 'Loading...'"
                    [nzLanguage]="'typescript'">
      </nz-highlight>
    </div>
  </section>
</section>
