<div class="carousel slide carousel-fade" data-interval="3000" data-ride="carousel"
     id="carouselExampleIndicators">
  <div class="carousel-inner">
    <div *ngFor="let data of this.banners; let isFirst = first" [class.active]="isFirst" class="carousel-item">
      <a [href]="'/phim/' + data?.movie?.slug">
        <img [alt]="data?.movie?.name" [src]="data?.image">
        <div class="banner-caption">
          <h4>{{ data?.movie?.name }}</h4>
          <h5>{{ data?.movie?.origin_name }} {{ data?.movie?.release_date ? '(' + data?.movie?.release_date + ')' : '' }}</h5>
        </div>
        <div class="banner-caption-background"></div>
      </a>
    </div>
  </div>

  <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="main-content">
  <div class="support-func ml-auto"><a class="icon-support" href="#"></a></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="panel-vod">
          <div class="title-cate">
            <a href="/phim/phim-chieu-rap">
              <h2>Phim chiếu rạp</h2>
            </a>
            <a class="link-cate-xem-them" href="/phim/phim-chieu-rap?xem-them=1">Xem thêm <i
              class="fa fa-play"></i></a>
          </div>
          <div class="list-vod row category-tabs-item">
            <div *ngFor="let data of this.bodyCinemas" class="item col-lg-3 col-md-4 col-sm-4 col-6">
              <a [href]="'/phim/' + data.slug">
                <div class="img-4-6">
                  <div class="inline">
                    <img
                      [alt]="data.name"
                      [src]="data.poster">

                  </div>
                </div>
                <h3>{{ data.name }}</h3>
                <p
                  class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="panel-vod">
          <div class="title-cate">
            <a href="/phim/phim-le">
              <h2>Phim lẻ</h2>
            </a>
            <a class="link-cate-xem-them" href="/phim/phim-le?xem-them=1">Xem thêm <i
              class="fa fa-play"></i></a>
          </div>
          <div class="list-vod row category-tabs-item">
            <div *ngFor="let data of this.bodyMovies" class="item col-lg-3 col-md-4 col-sm-4 col-6">
              <a [href]="'/phim/' + data.slug">
                <div class="img-4-6">
                  <div class="inline">
                    <img
                      [alt]="data.name"
                      [src]="data.poster">

                  </div>
                </div>
                <h3>{{ data.name }}</h3>
                <p
                  class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-12 mt-2">
        <div><img alt="Phim lẻ hot" src="assets/images/head_phim_le_hot.png" style="width:100%"></div>
        <div class="hot-panel">
          <div class="scrollbar-inner">
            <div class="list-vod category-tabs-item">
              <a *ngFor="let data of this.topMoviesSidebar" [href]="'/phim/' + data.slug">
                <div class="row">
                  <div class="item col-lg-4 col-md-12 col-4">
                    <div class="img-4-6">
                      <div class="inline">
                        <img
                          [alt]="data.name"
                          [src]="data.poster">
                      </div>
                    </div>
                  </div>
                  <div class="item col-lg-8 col-md-12 col-8">
                    <div class="func row">
                      <div class="col-12">
                        <h3>{{ data.name }}</h3>
                        <p
                          class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="mt-5"><img src="assets/images/head_phim_bo_hot.png" style="width:100%"></div>
        <div class="hot-panel">
          <div class="scrollbar-inner">
            <div class="list-vod category-tabs-item">
              <a *ngFor="let data of this.topSeriesSidebar" [href]="'/phim/' + data.slug">
                <div class="row">
                  <div class="item col-lg-4 col-md-12 col-4">
                    <div class="img-4-6">
                      <div class="inline">
                        <img
                          [alt]="data.name"
                          [src]="data.poster">
                        <span class="ribbon">40/40</span>

                      </div>
                    </div>
                  </div>
                  <div class="item col-lg-8 col-md-12 col-8">
                    <div class="func row">
                      <div class="col-12">
                        <h3>{{ data.name }}</h3>
                        <p
                          class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-vod">
      <div class="title-cate">
        <a href="/phim/phim-bo">
          <h2>Phim bộ</h2>
        </a>
        <a class="link-cate-xem-them" href="/phim/phim-bo?xem-them=1">Xem thêm <i
          class="fa fa-play"></i></a>
      </div>
      <div class="list-vod row category-tabs-item">

        <div *ngFor="let data of this.bodySeries" class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a [href]="'/phim/' + data.slug">
            <div class="img-4-6">
              <div class="inline">
                <img
                  [alt]="data.name"
                  [src]="data.poster">
                <span class="ribbon">11/36</span>

              </div>
            </div>
            <h3>{{ data.name }}</h3>
            <p class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-vod">
      <div class="title-cate">
        <a href="/phim/hoat-hinh">
          <h2>Hoạt hình</h2>
        </a>
        <a class="link-cate-xem-them" href="/phim/hoat-hinh?xem-them=1">Xem thêm <i
          class="fa fa-play"></i></a>
      </div>
      <div class="list-vod row category-tabs-item">

        <div *ngFor="let data of this.bodyCartoons" class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a [href]="'/phim/' + data.slug">
            <div class="img-4-6">
              <div class="inline">
                <img
                  [alt]="data.name"
                  [src]="data.poster">
                <span class="ribbon">4/4</span>
              </div>
            </div>
            <h3>{{ data.name }}</h3>
            <p class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
