<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20">
          <nz-input-group [nzPrefix]="prefixTemplate">
            <input (ngModelChange)="search()" [(ngModel)]="searchInput" nz-input placeholder="Search Project"
                   type="text">
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i class="opacity-05" nz-icon nzType="search"></i>
          </ng-template>
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select (ngModelChange)="categoryChange($event)" [(ngModel)]="selectedCategory" class="w-100"
                     nzPlaceHolder="Category"
                     style="min-width: 220px;">
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="Home Decoration" nzValue="Home Decoration"></nz-option>
            <nz-option nzLabel="Eletronic" nzValue="Eletronic"></nz-option>
            <nz-option nzLabel="Jewellery" nzValue="Jewellery"></nz-option>
          </nz-select>
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select (ngModelChange)="statusChange($event)" [(ngModel)]="selectedStatus" class="w-100"
                     nzPlaceHolder="Status"
                     style="min-width: 220px;">
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="In Stock" nzValue="in stock"></nz-option>
            <nz-option nzLabel="Out Of Stock" nzValue="out of stock"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-right">
      <a [routerLink]="['/dashboard', 'users', 'create']" nz-button nzType="primary">
        <i nz-icon nzType="plus-circle" theme="outline"></i>
        <span>Thêm người dùng</span>
      </a>
    </div>
  </div>
  <nz-table #productsListTable [nzData]="displayData">
    <thead>
    <tr>
      <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productsListTable.data;  let i=index">
      <td>#{{item.id}}</td>
      <td>
        <div class="d-flex align-items-center">
          <nz-avatar [nzSize]="60" [nzSrc]="item.avatar" nzIcon="picture" nzShape="square"></nz-avatar>
          <span class="m-l-10">{{item.name}}</span>
        </div>
      </td>
      <td>{{item.category}}</td>
      <td>${{item.price | number:'3.2-5'}}</td>
      <td>
        {{item.quantity}}
      </td>
      <td>
        <nz-badge *ngIf="item.status == 'in stock'" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="item.status == 'out of stock'" nzStatus="error"></nz-badge>
        <span class="text-capitalize">{{item.status}}</span>
      </td>
      <td class="text-md-right">
        <a class="m-r-5" nz-button nz-tooltip nzShape="circle" nzTooltipTitle="Edit" nzType="default">
          <i nz-icon nzType="edit" theme="outline"></i>
        </a>
        <button nz-button nz-tooltip nzShape="circle" nzTooltipTitle="Delete" nzType="default">
          <i nz-icon nzType="delete" theme="outline"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<router-outlet></router-outlet>
