<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzFooter]="footerTpl"
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  [nzWidth]="'80%'"
  nzTitle="Cập nhật phim"
>
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Tên phim</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên phim">
        <input formControlName="name" nz-input placeholder="Nhập tên phim"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Đường dẫn</nz-form-label>
      <nz-form-control [nzErrorTip]="slugErrorTpl"
                       nzErrorTip="Vui lòng nhập đường dẫn"
                       nzHasFeedback
                       nzValidatingTip="Validating...">
        <input formControlName="slug" nz-input placeholder="Nhập đường dẫn"/>
        <ng-template #slugErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Vui lòng nhập đường dẫn!
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">Đường dẫn đã tồn tại!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Tên phim gốc</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên phim gốc">
        <input formControlName="origin_name" nz-input placeholder="Nhập tên phim gốc"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Quốc gia</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng chọn quốc gia">
        <nz-select
          [nzTokenSeparators]="[',']" formControlName="country_ids"
          nzAllowClear
          nzMode="multiple"
          nzPlaceHolder="Chọn quốc gia"
        >
          <nz-option *ngFor="let option of countries" [nzLabel]="option.name"
                     [nzValue]="option.country_id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Thể loại</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng chọn thể loại">
        <nz-select
          [nzTokenSeparators]="[',']" formControlName="genre_ids"
          nzAllowClear
          nzMode="multiple"
          nzPlaceHolder="Chọn thể loại"
        >
          <nz-option *ngFor="let option of genres" [nzLabel]="option.name" [nzValue]="option.genre_id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div [nzGutter]="24" nz-row>
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label nzRequired>Kiểu phim</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn kiểu phim">
            <nz-select formControlName="movie_type_id" nzPlaceHolder="Chọn kiểu phim">
              <nz-option *ngFor="let option of movieTypes" [nzLabel]="option.name" [nzValue]="option.movie_type_id"
                         nzCustomContent>
                {{ option.name }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label nzRequired>Năm xuất bản</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập năm xuất bản">
            <input formControlName="release_date" nz-input placeholder="Nhập năm xuất bản"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-textarea-count>
          <textarea formControlName="description" nz-input rows="4"></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>

    <div [nzGutter]="24" nz-row>
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn trạng thái">
            <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái">
              <nz-option *ngFor="let option of status" [nzLabel]="option.label" [nzValue]="option.value"
                         nzCustomContent>
                <nz-badge *ngIf="option.badge" [nzStatus]="option.badge"></nz-badge>
                {{ option.label }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label>Poster phim</nz-form-label>
          <nz-upload
            [(nzFileList)]="fileList"
            [nzPreview]="handlePreview"
            [nzShowButton]="fileList.length < 1"
            [nzShowUploadList]="{
          showPreviewIcon: false,
          showRemoveIcon: true,
          showDownloadIcon: false
        }"
            nzAction="/api"
            nzListType="picture-card"
          >
            <div>
              <i nz-icon nzType="plus"></i>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
        </nz-form-item>
      </div>
    </div>

    <button [hidden]="true" nz-button nzType="primary">Submit</button>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button (click)="close()" nz-button style="margin-right: 8px;">Huỷ</button>
      <button (click)="submitForm()" [nzLoading]="isLoading" nz-button nzType="primary">Cập nhật</button>
    </div>
  </ng-template>
</nz-drawer>
