<div class="page-header has-tab">
  <h2 class="font-weight-normal">Account Setting</h2>
</div>
<nz-tabset class="page-header-tab">
  <nz-tab nzTitle="Account">
    <div class="container">
      <nz-card nzTitle="Thông tin tài khoản">
        <form (ngSubmit)="submitInfoForm()" [formGroup]="changeInfoForm" nz-form nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzRequired>Tên người dùng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập tên người dùng" nzHasFeedback>
              <input formControlName="name" nz-input placeholder="Nhập tên người dùng"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Tài khoản</nz-form-label>
            <nz-form-control [nzErrorTip]="usernameErrorTpl"
                             nzErrorTip="Vui lòng nhập tài khoản"
                             nzHasFeedback
                             nzValidatingTip="Validating...">
              <input formControlName="username" nz-input placeholder="Nhập tài khoản"/>
              <ng-template #usernameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Vui lòng nhập tài khoản!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">Tài khoản đã tồn tại!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Giới tính</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn giới tính">
              <nz-select formControlName="gender" nzPlaceHolder="Chọn giới tính">
                <nz-option *ngFor="let option of gender" [nzLabel]="option.label" [nzValue]="option.value"
                           nzCustomContent>
                  <nz-badge *ngIf="option.badge" [nzStatus]="option.badge"></nz-badge>
                  {{ option.label }}
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button [disabled]="!changeInfoForm.valid" [nzLoading]="isInfoLoading" nz-button nzType="primary">Cập
                nhật
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>


      <nz-card nzTitle="Đổi mật khẩu">
        <form (ngSubmit)="submitPWForm()" [formGroup]="changePWForm" nz-form nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzRequired>Mật khẩu cũ</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu cũ" nzHasFeedback>
              <input formControlName="old_password" nz-input
                     placeholder="Nhập mật khẩu"
                     type="password"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Mật khẩu mới</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu mới" nzHasFeedback>
              <input (ngModelChange)="validateConfirmPassword()" formControlName="new_password" nz-input
                     placeholder="Nhập mật khẩu"
                     type="password"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Nhập lại mật khẩu mới</nz-form-label>
            <nz-form-control [nzErrorTip]="passwordErrorTpl" nzHasFeedback>
              <input formControlName="confirm_password" nz-input placeholder="Nhập lại mật khẩu mới" type="password"/>
              <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Vui lòng xác nhận mật khẩu mới!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">Xác nhận mật khẩu mới không trùng khớp!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button [disabled]="!changePWForm.valid" [nzLoading]="isPWLoading" nz-button nzType="primary">Cập nhật
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </div>
  </nz-tab>
</nz-tabset>
