<nz-card>
  <div class="row m-b-10">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-r-20">
          <nz-input-group [nzPrefix]="prefixTemplate">
            <input (ngModelChange)="search()" [(ngModel)]="searchInput" nz-input placeholder="Search Project"
                   type="text">
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i class="opacity-05" nz-icon nzType="search"></i>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-right">
      <a [routerLink]="['/dashboard', 'movies', 'create']" nz-button nzType="primary">
        <i nz-icon nzType="plus-circle" theme="outline"></i>
        <span>Thêm mới phim</span>
      </a>
    </div>
  </div>
  <nz-table #listTable [nzData]="displayData">
    <thead>
    <tr>
      <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listTable.data; let i=index">
      <td>#{{item.movie_id}}</td>
      <td>
        <div class="d-flex align-items-center">
          <nz-avatar [nzSize]="60" [nzSrc]="item.poster" nzIcon="picture" nzShape="square"></nz-avatar>
          <span class="m-l-10">{{item.name}}</span>
        </div>
      </td>
      <td>{{item.slug}}</td>
      <td>{{ item.movie_type?.name }}</td>
      <td>
        <nz-badge [nzStatus]="mapDefaultStatus(item.status)?.badge"></nz-badge>
        <span class="text-capitalize">{{ mapDefaultStatus(item.status)?.label }}</span>
      </td>
      <td class="text-md-right">
        <a [routerLink]="['/dashboard', 'movies', item.movie_id, 'episodes']" class="m-r-5" nz-button nz-tooltip
           nzShape="circle"
           nzTooltipTitle="Tập phim" nzType="default">
          <i nz-icon nzType="unordered-list" theme="outline"></i>
        </a>

        <a [routerLink]="['/dashboard', 'movies', item.movie_id, 'edit']" class="m-r-5" nz-button nz-tooltip
           nzShape="circle"
           nzTooltipTitle="Sửa" nzType="default">
          <i nz-icon nzType="edit" theme="outline"></i>
        </a>

        <button (nzOnConfirm)="delete(item.movie_id)" nz-button nz-popconfirm nz-tooltip
                nzPopconfirmPlacement="bottom"
                nzPopconfirmTitle="Xác nhận xoá?"
                nzShape="circle"
                nzTooltipTitle="Xoá" nzType="default">
          <i nz-icon nzType="delete" theme="outline"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<router-outlet></router-outlet>
