<div class="wrapper">

  <!-- Sidebar  -->
  <nav class="mobile-view" id="sidebar">
    <div class="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
      <div class="dropdown dropdown-account">
        <a aria-expanded="false" aria-haspopup="true" class="btn-login" href="https://247phim.com/login"
           id="dropdown-account" rel="nofollow" role="button">
          <i class="icon-login">
          </i>
          Tài khoản
        </a>
      </div>
    </div>

    <ul class="list-unstyled components">
      <li class="active"><a href="/">Trang chủ</a></li>
      <li><a href="https://247phim.com/login">Đăng nhập</a></li>
      <li class="dropdown-divider"></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2021">Phim lẻ 2021</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2020">Phim lẻ 2020</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2019">Phim lẻ 2019</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2018">Phim lẻ 2018</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2017">Phim lẻ 2017</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2016">Phim lẻ 2016</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2015">Phim lẻ 2015</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2014">Phim lẻ 2014</a></li>
      <li><a href="https://247phim.com/phim/phim-le/nam/2013">Phim lẻ trước 2014</a></li>

      <li class="dropdown-divider"></li>
      <li><a href="https://247phim.com/phim/quoc-gia/phim-bo/han-quoc">Phim bộ Hàn
        Quốc</a></li>
      <li><a href="https://247phim.com/phim/quoc-gia/phim-bo/trung-quoc">Phim bộ
        Trung Quốc</a></li>
      <li><a href="https://247phim.com/phim/quoc-gia/phim-bo/my">Phim bộ Mỹ</a></li>
      <li><a href="/phim/phim-tvb">Phim TVB</a></li>
      <li><a href="/phim/anime">Anime</a></li>
      <li><a href="/phim/gameshow">Gameshow</a></li>
      <li><a href="/phim/tv-shows">TV Shows</a></li>
      <li><a href="https://247phim.com/phim/quoc-gia/phim-bo/anh">Phim bộ Anh</a>
      </li>
      <li><a href="https://247phim.com/phim/clip-ngan">Clip ngắn</a></li>

      <li class="dropdown-divider"></li>
      <li><a href="/phim/phim-chieu-rap">Phim chiếu rạp</a></li>
      <li><a href="/phim/phim-18">Phim 18+</a></li>
      <li><a href="/phim/khong-the-bo-lo">Không Thể Bỏ Lỡ</a></li>
      <li><a href="/phim/phim-moi">Phim mới</a></li>
      <li><a href="/phim/hoat-hinh">Hoạt hình</a></li>
      <li><a href="/phim/sieu-anh-hung">Siêu anh hùng</a></li>
      <li><a href="/phim/phim-chau-a-kinh-dien">Phim Châu Á Kinh Điển</a></li>
      <li><a href="/phim/hanh-dong">Hành động</a></li>
      <li><a href="/phim/phim-lgbtq">LGBTQ+</a></li>
      <li><a href="/phim/tv-shows">TV Shows</a></li>
      <li><a href="/phim/bom-tan">Bom tấn</a></li>
      <li><a href="/phim/phieu-luu">Phiêu lưu</a></li>
      <li><a href="/phim/kich-tinh-hoi-hop">Kịch tính, hồi hộp</a></li>
      <li><a href="/phim/tinh-cam-lang-man">Tình cảm, lãng mạn</a></li>
      <li><a href="/phim/hai-huoc">Hài hước</a></li>
      <li><a href="/phim/vien-tuong">Viễn tưởng</a></li>
      <li><a href="/phim/co-trang">Cổ trang</a></li>
      <li><a href="/phim/than-thoai">Thần thoại</a></li>
      <li><a href="/phim/tam-ly-original">Tâm lý</a></li>
      <li><a href="/phim/anime">Anime</a></li>
      <li><a href="/phim/kiem-hiep-vo-thuat">Kiếm hiệp, võ thuật</a></li>
      <li><a href="/phim/phim-tvb">Phim TVB</a></li>
      <li><a href="/phim/hinh-su">Hình sự</a></li>
      <li><a href="/phim/tham-hoa">Thảm họa</a></li>
      <li><a href="/phim/kinh-di">Kinh dị</a></li>
      <li><a href="/phim/gameshow">Gameshow</a></li>
      <li><a href="/phim/vien-tay">Viễn tây</a></li>
      <li><a href="/phim/chien-tranh">Chiến tranh</a></li>
      <li><a href="/phim/lich-su-original">Lịch sử</a></li>
      <li><a href="/phim/tai-lieu">Tài liệu</a></li>
      <li><a href="/phim/am-nhac-the-thao">Âm nhạc - Thể thao</a></li>
      <li><a href="/phim/clip-ngan">Clip ngắn</a></li>

      <li class="dropdown-divider"></li>
      <li>
        <a href="/phim/quoc-gia/an-do">Ấn Độ</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/anh">Anh</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/canada">Canada</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/chau-a">Châu Á</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/dai-loan">Đài Loan</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/duc">Đức</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/han-quoc">Hàn Quốc</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/hong-kong">Hồng Kông</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/my">Mỹ</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/nga">Nga</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/nhat-ban">Nhật Bản</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/phap">Pháp</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/philippines">Philippines</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/quoc-gia-khac">Quốc gia khác</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/thai-lan">Thái Lan</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/trung-quoc">Trung Quốc</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/uc">Úc</a>
      </li>
      <li>
        <a href="/phim/quoc-gia/viet-nam">Việt Nam</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-expand-lg fixed-top menu-top" id="main-menu">
    <button class="btn btn-toggler navbar-toggler" id="sidebarCollapse" type="button">
      <i class="fas fa-align-left"></i>
    </button>
    <a class="navbar-brand" href="/">
      <img alt="247phim.com" src="https://247phim.com/images/logo.svg">
      <h1>Xem Phim Online Miễn Phí - Xem Phim HD</h1>
    </a>

    <div class="box-search mobile-view ml-auto">
      <form action="/tim-kiem-phim" id="searchForm2" method="GET">
        <button aria-controls="collapseExample" aria-expanded="false" class="icon-search" data-target="#box-search"
                data-toggle="collapse" type="button"></button>
        <div class="collapse box-search-inline" id="box-search">
          <button class="icon-search" type="submit"></button>
          <input id="top-search-2" name="keyword" placeholder="Nhập từ khóa" type="text">
        </div>
      </form>
    </div>

    <div class="collapse navbar-collapse pc-view" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto ml-auto main-menu">
        <li class="nav-item">
          <a class="nav-link"
             href="#">
            Phim lẻ
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link"
             href="#">
            Phim bộ
          </a>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
             href="#" id="dropdown-mainmenu-quoc-gia" role="button">
            Quốc gia
          </a>
          <div aria-labelledby="dropdown-mainmenu-quoc-gia" class="dropdown-menu">
            <a class="dropdown-item" href="/phim/quoc-gia/an-do">Ấn Độ</a>
            <a class="dropdown-item" href="/phim/quoc-gia/anh">Anh</a>
            <a class="dropdown-item" href="/phim/quoc-gia/canada">Canada</a>
            <a class="dropdown-item" href="/phim/quoc-gia/chau-a">Châu Á</a>
            <a class="dropdown-item" href="/phim/quoc-gia/dai-loan">Đài Loan</a>
            <a class="dropdown-item" href="/phim/quoc-gia/duc">Đức</a>
            <a class="dropdown-item" href="/phim/quoc-gia/han-quoc">Hàn Quốc</a>
            <a class="dropdown-item" href="/phim/quoc-gia/hong-kong">Hồng Kông</a>
            <a class="dropdown-item" href="/phim/quoc-gia/my">Mỹ</a>
            <a class="dropdown-item" href="/phim/quoc-gia/nga">Nga</a>
            <a class="dropdown-item" href="/phim/quoc-gia/nhat-ban">Nhật Bản</a>
            <a class="dropdown-item" href="/phim/quoc-gia/phap">Pháp</a>
            <a class="dropdown-item" href="/phim/quoc-gia/philippines">Philippines</a>
            <a class="dropdown-item" href="/phim/quoc-gia/quoc-gia-khac">Quốc gia khác</a>
            <a class="dropdown-item" href="/phim/quoc-gia/thai-lan">Thái Lan</a>
            <a class="dropdown-item" href="/phim/quoc-gia/trung-quoc">Trung Quốc</a>
            <a class="dropdown-item" href="/phim/quoc-gia/uc">Úc</a>
            <a class="dropdown-item" href="/phim/quoc-gia/viet-nam">Việt Nam</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
             href="#" id="dropdown-mainmenu" role="button">
            Thể loại
          </a>
          <div aria-labelledby="dropdown-mainmenu" class="dropdown-menu">
            <a class="dropdown-item" href="/phim/phim-chieu-rap">Phim chiếu rạp</a>
            <a class="dropdown-item" href="/phim/phim-18">Phim 18+</a>
            <a class="dropdown-item" href="/phim/khong-the-bo-lo">Không Thể Bỏ Lỡ</a>
            <a class="dropdown-item" href="/phim/phim-moi">Phim mới</a>
            <a class="dropdown-item" href="/phim/hoat-hinh">Hoạt hình</a>
            <a class="dropdown-item" href="/phim/sieu-anh-hung">Siêu anh hùng</a>
            <a class="dropdown-item" href="/phim/phim-chau-a-kinh-dien">Phim Châu Á Kinh Điển</a>
            <a class="dropdown-item" href="/phim/hanh-dong">Hành động</a>
            <a class="dropdown-item" href="/phim/phim-lgbtq">LGBTQ+</a>
            <a class="dropdown-item" href="/phim/tv-shows">TV Shows</a>
            <a class="dropdown-item" href="/phim/bom-tan">Bom tấn</a>
            <a class="dropdown-item" href="/phim/phieu-luu">Phiêu lưu</a>
            <a class="dropdown-item" href="/phim/kich-tinh-hoi-hop">Kịch tính, hồi hộp</a>
            <a class="dropdown-item" href="/phim/tinh-cam-lang-man">Tình cảm, lãng mạn</a>
            <a class="dropdown-item" href="/phim/hai-huoc">Hài hước</a>
            <a class="dropdown-item" href="/phim/vien-tuong">Viễn tưởng</a>
            <a class="dropdown-item" href="/phim/co-trang">Cổ trang</a>
            <a class="dropdown-item" href="/phim/than-thoai">Thần thoại</a>
            <a class="dropdown-item" href="/phim/tam-ly-original">Tâm lý</a>
            <a class="dropdown-item" href="/phim/anime">Anime</a>
            <a class="dropdown-item" href="/phim/kiem-hiep-vo-thuat">Kiếm hiệp, võ thuật</a>
            <a class="dropdown-item" href="/phim/phim-tvb">Phim TVB</a>
            <a class="dropdown-item" href="/phim/hinh-su">Hình sự</a>
            <a class="dropdown-item" href="/phim/tham-hoa">Thảm họa</a>
            <a class="dropdown-item" href="/phim/kinh-di">Kinh dị</a>
            <a class="dropdown-item" href="/phim/gameshow">Gameshow</a>
            <a class="dropdown-item" href="/phim/vien-tay">Viễn tây</a>
            <a class="dropdown-item" href="/phim/chien-tranh">Chiến tranh</a>
            <a class="dropdown-item" href="/phim/lich-su-original">Lịch sử</a>
            <a class="dropdown-item" href="/phim/tai-lieu">Tài liệu</a>
            <a class="dropdown-item" href="/phim/am-nhac-the-thao">Âm nhạc - Thể thao</a>
            <a class="dropdown-item" href="/phim/clip-ngan">Clip ngắn</a>
          </div>
        </li>
      </ul>

      <div class="form-inline">
        <div class="form-search">
          <form action="/tim-kiem" id="searchForm" method="GET">
            <input id="top-search" name="keyword" placeholder="Nhập từ khóa" type="text" value="">
            <input type="submit" value="">
          </form>
        </div>
      </div>
    </div>
  </nav>

  <div id="content">
    <router-outlet></router-outlet>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 copyright">© 2019 247phim.com</div>
          <div class="col-lg-4 col-12 da-dang-ky"></div>
          <div class="col-lg-4 col-12 follow">
            Kết nối với chúng tôi tại:
            <a href="https://www.facebook.com/247phimhayne/" target="_blank" title="facebook"><i
              class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/247phim/" target="_blank" title="instagram"><i
              class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/247phim" target="_blank" title="twitter"><i
              class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="overlay"></div>
