<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  [nzWidth]="'40%'"
  nzTitle="Danh sách tập phim"
>
  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-drawer>
