<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzFooter]="footerTpl"
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  [nzWidth]="720"
  nzTitle="Thêm mới phim"
>
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Thể loại</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập thể loại">
        <input formControlName="name" nz-input placeholder="Nhập thể loại"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Đường dẫn</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập đường dẫn">
        <input formControlName="slug" nz-input placeholder="Nhập đường dẫn"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Trạng thái</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng chọn trạng thái">
        <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái">
          <nz-option nzCustomContent *ngFor="let option of status" [nzValue]="option.value" [nzLabel]="option.label">
            <nz-badge *ngIf="option.badge" [nzStatus]="option.badge"></nz-badge> {{ option.label }}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button [hidden]="true" nz-button nzType="primary">Submit</button>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button (click)="close()" nz-button style="margin-right: 8px;">Huỷ</button>
      <button (click)="submitForm()" nz-button nzType="primary">Thêm</button>
    </div>
  </ng-template>
</nz-drawer>
