<perfect-scrollbar class="side-nav" sideNav>
  <ul [ngClass]="{
            'ant-menu-inline-collapsed': isFolded,
            'ant-menu-dark' : isSideNavDark
        }"
      class="ant-menu ant-menu-root ant-menu-inline side-nav-menu"
  >
    <li *ngFor="let item of menuItems"
        [ngClass]="item.submenu.length > 0?'ant-menu-submenu ant-menu-submenu-inline':'ant-menu-item'"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLinkActive]="item.submenu.length > 0 ? 'ant-menu-submenu-open' : 'ant-menu-item-selected'">
      <a *ngIf="item.submenu.length > 0" class="ant-menu-submenu-title" href="javascript:void(0);">
        <i *ngIf="item.iconType == 'nzIcon'" [nzType]="item.icon" [theme]="item.iconTheme" nz-icon></i>
        <i *ngIf="item.iconType == 'fontawesome'" [ngClass]="[item.iconTheme , item.icon]" class="m-r-10"></i>
        <span>{{item.title}}</span>
        <i class="ant-menu-submenu-arrow"></i>
      </a>
      <a (click)="closeMobileMenu()" *ngIf="item.submenu.length === 0" [routerLink]="item.path">
        <i *ngIf="item.iconType == 'nzIcon'" [nzType]="item.icon" [theme]="item.iconTheme" nz-icon></i>
        <i *ngIf="item.iconType == 'fontawesome'" [ngClass]="[item.iconTheme , item.icon]" class="m-r-10"></i>
        <span>{{item.title}}</span>
      </a>

      <!-- Second Level -->
      <ul *ngIf="item.submenu.length > 0" class="ant-menu ant-menu-inline ant-menu-sub dropdown-menu">
        <li *ngFor="let subItem of item.submenu"
            [ngClass]="subItem.submenu.length > 0?'ant-menu-submenu ant-menu-submenu-inline':'ant-menu-item'"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLinkActive]="subItem.submenu.length > 0 ? 'ant-menu-submenu-open' : 'ant-menu-item-selected'">
          <a *ngIf="subItem.submenu.length > 0" class="ant-menu-submenu-title p-l-50" href="javascript:void(0);">
            <i *ngIf="subItem.iconType == 'nzIcon'" [nzType]="subItem.icon" [theme]="subItem.iconTheme" nz-icon></i>
            <i *ngIf="subItem.iconType == 'fontawesome'" [ngClass]="[subItem.iconTheme , subItem.icon]"
               class="m-r-10"></i>
            <span>{{subItem.title}}</span>
            <i class="ant-menu-submenu-arrow"></i>
          </a>
          <a (click)="closeMobileMenu()" *ngIf="subItem.submenu.length === 0" [routerLink]="subItem.path"
             class="p-l-30">
            <i *ngIf="subItem.iconType == 'nzIcon'" [nzType]="subItem.icon" [theme]="subItem.iconTheme" nz-icon></i>
            <i *ngIf="subItem.iconType == 'fontawesome'" [ngClass]="[subItem.iconTheme , subItem.icon]"
               class="m-r-10"></i>
            <span>{{subItem.title}}</span>
          </a>

          <!-- Third Level -->
          <ul *ngIf="subItem.submenu.length > 0" class="ant-menu ant-menu-inline ant-menu-sub dropdown-menu">
            <li *ngFor="let subItem of subItem.submenu"
                [ngClass]="subItem.submenu.length > 0?'ant-menu-submenu ant-menu-submenu-inline':'ant-menu-item'"
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="ant-menu-item-selected">
              <a *ngIf="subItem.submenu.length > 0" class="ant-menu-submenu-title p-l-50" href="javascript:void(0);">
                <i *ngIf="subItem.iconType == 'nzIcon'" [nzType]="subItem.icon" [theme]="subItem.iconTheme" nz-icon></i>
                <i *ngIf="subItem.iconType == 'fontawesome'" [ngClass]="[subItem.iconTheme , subItem.icon]"
                   class="m-r-10"></i>
                <span>{{subItem.title}}</span>
                <i class="ant-menu-submenu-arrow"></i>
              </a>
              <a (click)="closeMobileMenu()" *ngIf="subItem.submenu.length === 0" [routerLink]="subItem.path"
                 class="p-l-50">
                <i *ngIf="subItem.iconType == 'nzIcon'" [nzType]="subItem.icon" [theme]="subItem.iconTheme" nz-icon></i>
                <i *ngIf="subItem.iconType == 'fontawesome'" [ngClass]="[subItem.iconTheme , subItem.icon]"
                   class="m-r-10"></i>
                <span>{{subItem.title}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</perfect-scrollbar>
