<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Movie</p>
          <h2 class="m-b-0">
            <span>{{countMovie}}</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-blue" nzIcon="video-camera"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Genre</p>
          <h2 class="m-b-0">
            <span>{{countGenre}}</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-cyan" nzIcon="profile"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Country</p>
          <h2 class="m-b-0">
            <span>{{countCountry}}</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-red" nzIcon="global"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Banner</p>
          <h2 class="m-b-0">
            <span>{{countBanner}}</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-gold" nzIcon="team"></nz-avatar>
      </div>
    </nz-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Latest Movies</h5>
        <div>
          <a [routerLink]="['/dashboard', 'movies']" class="d-flex align-items-center" nz-button nzSize="small"
             nzType="primary">View All</a>
        </div>
      </div>
      <div class="m-t-30">
        <nz-table #listTable [nzData]="displayData" [nzShowPagination]="false">
          <thead>
          <tr>
            <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listTable.data; let i=index">
            <td>#{{item.movie_id}}</td>
            <td>
              <div class="d-flex align-items-center">
                <nz-avatar [nzSize]="60" [nzSrc]="item.poster" nzIcon="picture" nzShape="square"></nz-avatar>
                <span class="m-l-10">{{item.name}}</span>
              </div>
            </td>
            <td>{{item.slug}}</td>
            <td>{{ item.movie_type?.name }}</td>
            <td>
              <nz-badge [nzStatus]="mapDefaultStatus(item.status)?.badge"></nz-badge>
              <span class="text-capitalize">{{ mapDefaultStatus(item.status)?.label }}</span>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </div>
</div>
