<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Net Revenue</p>
          <h2 class="m-b-0">
            <span>$14,966</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-blue" nzIcon="dollar"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Bounce Rate</p>
          <h2 class="m-b-0">
            <span>26.80%</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-cyan" nzIcon="bar-chart"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Orders</p>
          <h2 class="m-b-0">
            <span>3057</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-red" nzIcon="profile"></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Total Expense</p>
          <h2 class="m-b-0">
            <span>$6,138</span>
          </h2>
        </div>
        <nz-avatar [nzSize]="50" class="ant-avatar-gold" nzIcon="bar-chart"></nz-avatar>
      </div>
    </nz-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Latest Transactions</h5>
        <div>
          <a nz-button nzSize="small" nzType="default">View All</a>
        </div>
      </div>
      <div class="m-t-30">
        <nz-table #ordersListTable [nzData]="ordersList" [nzShowPagination]="false" class="no-border-last">
          <thead>
          <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of ordersListTable.data">
            <td>#{{item.id}}</td>
            <td>
              <div class="d-flex align-items-center">
                <nz-avatar [nzSize]="30" [nzSrc]="item.avatar" nzIcon="user"></nz-avatar>
                <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
              </div>
            </td>
            <td>{{item.date}}</td>
            <td>${{item.amount | number:'3.2-5'}}</td>
            <td>
              <nz-badge *ngIf="item.status == 'approved'" nzStatus="success"></nz-badge>
              <nz-badge *ngIf="item.status == 'rejected'" nzStatus="error"></nz-badge>
              <nz-badge *ngIf="item.status == 'pending'" nzStatus="processing"></nz-badge>
              <span class="text-capitalize">{{item.status}}</span>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </div>
</div>
