<div class="main-content">
  <div class="support-func ml-auto"><a class="icon-support" href="#"></a></div>
  <div class="container search-result">
    <form action="/tim-kiem-phim" id="filterForm" method="GET">
      <input name="keyword" type="hidden" value="">
      <div class="filter row">
        <h5 class="col-12">Tìm kiếm:</h5>
        <div class="col-md-4 col-12">
          <div class="custom-select">

            <select name="category_id">
              <option value="0">Thể loại</option>
              <option value="">Tất cả</option>

              <option value="99">Gameshow</option>
              <option value="101">Phiêu lưu</option>
              <option value="102">Siêu anh hùng</option>
              <option value="108">Bom tấn</option>
              <option value="109">Phim chiếu rạp</option>
              <option value="111">TV Shows</option>
              <option value="112">Phim TVB</option>
              <option value="113">Anime</option>
              <option value="115">LGBTQ+</option>
              <option value="117">Phim Châu Á Kinh Điển</option>
              <option value="82">Phim mới</option>
              <option value="75">Không Thể Bỏ Lỡ</option>
              <option value="80">Phim lẻ</option>
              <option value="81">Phim bộ</option>
              <option value="56">Hành động</option>
              <option value="52">Kịch tính, hồi hộp</option>
              <option value="100">Tâm lý</option>
              <option value="93">Cổ trang</option>
              <option value="51">Hài hước</option>
              <option value="54">Viễn tây</option>
              <option value="46">Kinh dị</option>
              <option value="58">Lịch sử</option>
              <option value="59">Tình cảm, lãng mạn</option>
              <option value="61">Hoạt hình</option>
              <option value="63">Hình sự</option>
              <option value="64">Chiến tranh</option>
              <option value="65">Tài liệu</option>
              <option value="66">Thần thoại</option>
              <option value="68">Viễn tưởng</option>
              <option value="69">Âm nhạc - Thể thao</option>
              <option value="70">Kiếm hiệp, võ thuật</option>
              <option value="73">Thảm họa</option>
              <option value="79">Clip ngắn</option>
              <option value="90">Phim 18+</option>
            </select>
            <div class="select-selected">Thể loại</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>Gameshow</div>
              <div>Phiêu lưu</div>
              <div>Siêu anh hùng</div>
              <div>Bom tấn</div>
              <div>Phim chiếu rạp</div>
              <div>TV Shows</div>
              <div>Phim TVB</div>
              <div>Anime</div>
              <div>LGBTQ+</div>
              <div>Phim Châu Á Kinh Điển</div>
              <div>Phim mới</div>
              <div>Không Thể Bỏ Lỡ</div>
              <div>Phim lẻ</div>
              <div>Phim bộ</div>
              <div>Hành động</div>
              <div>Kịch tính, hồi hộp</div>
              <div>Tâm lý</div>
              <div>Cổ trang</div>
              <div>Hài hước</div>
              <div>Viễn tây</div>
              <div>Kinh dị</div>
              <div>Lịch sử</div>
              <div>Tình cảm, lãng mạn</div>
              <div>Hoạt hình</div>
              <div>Hình sự</div>
              <div>Chiến tranh</div>
              <div>Tài liệu</div>
              <div>Thần thoại</div>
              <div>Viễn tưởng</div>
              <div>Âm nhạc - Thể thao</div>
              <div>Kiếm hiệp, võ thuật</div>
              <div>Thảm họa</div>
              <div>Clip ngắn</div>
              <div>Phim 18+</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="custom-select">
            <select name="country_id">
              <option value="0">Quốc gia</option>
              <option value="">Tất cả</option>

              <option value="254">Ấn Độ</option>
              <option value="242">Anh</option>
              <option value="256">Canada</option>
              <option value="246">Châu Á</option>
              <option value="257">Đài Loan</option>
              <option value="248">Đức</option>
              <option value="252">Hàn Quốc</option>
              <option value="250">Hồng Kông</option>
              <option value="241">Mỹ</option>
              <option value="251">Nga</option>
              <option value="249">Nhật Bản</option>
              <option value="244">Pháp</option>
              <option value="255">Philippines</option>
              <option value="245">Quốc gia khác</option>
              <option value="253">Thái Lan</option>
              <option value="247">Trung Quốc</option>
              <option value="258">Úc</option>
              <option value="243">Việt Nam</option>

            </select>
            <div class="select-selected">Quốc gia</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>Ấn Độ</div>
              <div>Anh</div>
              <div>Canada</div>
              <div>Châu Á</div>
              <div>Đài Loan</div>
              <div>Đức</div>
              <div>Hàn Quốc</div>
              <div>Hồng Kông</div>
              <div>Mỹ</div>
              <div>Nga</div>
              <div>Nhật Bản</div>
              <div>Pháp</div>
              <div>Philippines</div>
              <div>Quốc gia khác</div>
              <div>Thái Lan</div>
              <div>Trung Quốc</div>
              <div>Úc</div>
              <div>Việt Nam</div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-12">
          <div class="custom-select">
            <select id="selectYear" name="year">
              <option value="0">Năm sản xuất</option>
              <option value="">Tất cả</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
              <option value="1989">1989</option>
              <option value="1988">1988</option>
              <option value="1987">1987</option>
              <option value="1986">1986</option>
              <option value="1985">1985</option>
              <option value="1984">1984</option>
              <option value="1983">1983</option>
              <option value="1982">1982</option>
              <option value="1981">1981</option>
              <option value="1980">1980</option>
              <option value="1979">1979</option>
              <option value="1978">1978</option>
              <option value="1977">1977</option>
              <option value="1976">1976</option>
              <option value="1975">1975</option>
              <option value="1974">1974</option>
              <option value="1973">1973</option>
              <option value="1972">1972</option>
              <option value="1971">1971</option>
              <option value="1970">1970</option>
              <option value="1969">1969</option>
              <option value="1968">1968</option>
              <option value="1967">1967</option>
              <option value="1966">1966</option>
              <option value="1965">1965</option>
              <option value="1964">1964</option>
              <option value="1963">1963</option>
              <option value="1962">1962</option>
              <option value="1961">1961</option>
              <option value="1960">1960</option>
              <option value="1959">1959</option>
              <option value="1958">1958</option>
              <option value="1957">1957</option>
              <option value="1956">1956</option>
              <option value="1955">1955</option>
              <option value="1954">1954</option>
              <option value="1953">1953</option>
              <option value="1952">1952</option>
              <option value="1951">1951</option>
              <option value="1950">1950</option>
            </select>
            <div class="select-selected">Năm sản xuất</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>2021</div>
              <div>2020</div>
              <div>2019</div>
              <div>2018</div>
              <div>2017</div>
              <div>2016</div>
              <div>2015</div>
              <div>2014</div>
              <div>2013</div>
              <div>2012</div>
              <div>2011</div>
              <div>2010</div>
              <div>2009</div>
              <div>2008</div>
              <div>2007</div>
              <div>2006</div>
              <div>2005</div>
              <div>2004</div>
              <div>2003</div>
              <div>2002</div>
              <div>2001</div>
              <div>2000</div>
              <div>1999</div>
              <div>1998</div>
              <div>1997</div>
              <div>1996</div>
              <div>1995</div>
              <div>1994</div>
              <div>1993</div>
              <div>1992</div>
              <div>1991</div>
              <div>1990</div>
              <div>1989</div>
              <div>1988</div>
              <div>1987</div>
              <div>1986</div>
              <div>1985</div>
              <div>1984</div>
              <div>1983</div>
              <div>1982</div>
              <div>1981</div>
              <div>1980</div>
              <div>1979</div>
              <div>1978</div>
              <div>1977</div>
              <div>1976</div>
              <div>1975</div>
              <div>1974</div>
              <div>1973</div>
              <div>1972</div>
              <div>1971</div>
              <div>1970</div>
              <div>1969</div>
              <div>1968</div>
              <div>1967</div>
              <div>1966</div>
              <div>1965</div>
              <div>1964</div>
              <div>1963</div>
              <div>1962</div>
              <div>1961</div>
              <div>1960</div>
              <div>1959</div>
              <div>1958</div>
              <div>1957</div>
              <div>1956</div>
              <div>1955</div>
              <div>1954</div>
              <div>1953</div>
              <div>1952</div>
              <div>1951</div>
              <div>1950</div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="result">
      <h4>Có <span>8553</span> kết quả tìm kiếm <span></span></h4>
      <div class="list-vod row category-tabs-item">

        <div *ngFor="let data of this.movies" class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a [routerLink]="['/phim', data.slug]">
            <div class="img-4-6">
              <div class="inline">
                <img
                  [alt]="data.name"
                  data-src="{{data.poster}}" loading="lazy">
              </div>
            </div>
            <p>{{ data.name }}</p>
            <p class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
          </a>
        </div>
      </div>
      <nav class="navigation">
        <ul class="pagination justify-content-center">

          <li aria-disabled="true" aria-label="« Trang sau" class="page-item disabled">
            <span aria-hidden="true" class="page-link">‹</span>
          </li>


          <li aria-current="page" class="page-item active"><span class="page-link">1</span></li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=2">2</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=3">3</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=4">4</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=5">5</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=6">6</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=7">7</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=8">8</a>
          </li>

          <li aria-disabled="true" class="page-item disabled"><span class="page-link">...</span></li>


          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=142">142</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=143">143</a>
          </li>


          <li class="page-item">
            <a aria-label="Trang trước »"
               class="page-link"
               href="https://247phim.com/tim-kiem-phim/?year=&amp;country_id=&amp;category_id=&amp;page=2"
               rel="next">›</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="panel-vod">
      <div class="title-cate"><span>Danh sách đề xuất</span></div>
      <div class="list-vod row category-tabs-item">
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/ho-so-trinh-sat-phan-2-11028">
            <div class="img-4-6">
              <div class="inline">
                <img
                  alt="Detective Investigation Files (1996)"
                  src="https://static.247phim.com/138093/conversions/11028_detective-investigation-files-2_photo_portrait-190_274.jpg">
                <span class="ribbon">
                                                                                                                                                                                                                                             40/40
                                                                                    </span>
              </div>
            </div>
            <p>Hồ Sơ Trinh Sát (Phần 2)</p>
            <p class="subtitle">Detective Investigation Files (1996)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">1</a>
            <a class="view" href="#">218.1 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/toi-la-nhen-day-co-sao-khong-21927">
            <div class="img-4-6">
              <div class="inline">
                <img
                  alt="So I Am A Spider, So What? (2021)"
                  src="https://static.247phim.com/160912/conversions/6049cfc79254a_21e17ba115e4dd814cb1de44ac484533-190_274.jpg">
                <span class="ribbon">
                                                                                                                                                                                                                                             23/23
                                                                                    </span>
              </div>
            </div>
            <p>Tôi Là Nhện Đấy, Có Sao Không?</p>
            <p class="subtitle">So I Am A Spider, So What? (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">2</a>
            <a class="view" href="#">3.6 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/doraemon-doi-ban-than-phan-2-22239">
            <div class="img-4-6">
              <div class="inline">
                <img alt="Stand By Me Doraemon 2 (2021)"
                     src="https://static.247phim.com/161718/conversions/607e91fbba187_stand-by-me-2-d-190_274.jpg">
              </div>
            </div>
            <p>Doraemon: Đôi Bạn Thân (Phần 2)</p>
            <p class="subtitle">Stand By Me Doraemon 2 (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">11</a>
            <a class="view" href="#">15.7 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/tay-xa-thu-22250">
            <div class="img-4-6">
              <div class="inline">
                <img alt="The Marksman (2021)"
                     src="https://static.247phim.com/161758/conversions/608282adc82b7_the-marksman-d-190_274.jpg">
              </div>
            </div>
            <p>Tay Xạ Thủ</p>
            <p class="subtitle">The Marksman (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">3</a>
            <a class="view" href="#">28.8 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/tai-xe-sat-thu-22272">
            <div class="img-4-6">
              <div class="inline">
                <img alt="Taxi Driver (2021)"
                     src="https://static.247phim.com/161819/conversions/60890680b6c75_taxi-190_274.jpg">
                <span class="ribbon">
                                                                                                                                                                                                                                             16/16
                                                                                    </span>
              </div>
            </div>
            <p>Tài Xế Sát Thủ</p>
            <p class="subtitle">Taxi Driver (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">2</a>
            <a class="view" href="#">12.6 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/the-gioi-ngam-mumbai-22283">
            <div class="img-4-6">
              <div class="inline">
                <img alt="Mumbai Saga (2021)"
                     src="https://static.247phim.com/161837/conversions/608ba885e5db1_mumbai-copy-190_274.jpg">
              </div>
            </div>
            <p>Thế Giới Ngầm Mumbai</p>
            <p class="subtitle">Mumbai Saga (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">1</a>
            <a class="view" href="#">8.8 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/phong-than-bang-quyet-chien-van-tien-tran-22344">
            <div class="img-4-6">
              <div class="inline">
                <img alt="The First Myth: Clash of Gods (2021)"
                     src="https://static.247phim.com/161946/conversions/6094e654ea6f0_phongthan-d-190_274.jpg">
              </div>
            </div>
            <p>Phong Thần Bảng: Quyết Chiến Vạn Tiên Trận</p>
            <p class="subtitle">The First Myth: Clash of Gods (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">2</a>
            <a class="view" href="#">9.1 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/an-quy-22435">
            <div class="img-4-6">
              <div class="inline">
                <img
                  alt="The Unholy (2021)"
                  src="https://static.247phim.com/162085/conversions/60adfb3b84eb7_MV5BYzljZGEyNjYtM2Q0NC00NWFlLWE3NDktYmZjNjg0NDFlNDc4XkEyXkFqcGdeQXVyNDU5MTU4ODU%40._V1_-190_274.jpg">
              </div>
            </div>
            <p>Ấn Quỷ</p>
            <p class="subtitle">The Unholy (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">2</a>
            <a class="view" href="#">6.2 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/con-thinh-no-chet-nguoi-22462">
            <div class="img-4-6">
              <div class="inline">
                <img alt="Wrath Of Man (2021)"
                     src="https://static.247phim.com/162132/conversions/60b5b92a74928_js-02_jdie-190_274.jpg">
              </div>
            </div>
            <p>Cơn Thịnh Nộ Chết Người</p>
            <p class="subtitle">Wrath Of Man (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">18</a>
            <a class="view" href="#">32.2 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/sas-bao-dong-do-22474">
            <div class="img-4-6">
              <div class="inline">
                <img alt="SAS: Red Notice (2021)"
                     src="https://static.247phim.com/162155/conversions/60b82b4c67e38_bm-190_274.jpg">
              </div>
            </div>
            <p>SAS: Báo Động Đỏ</p>
            <p class="subtitle">SAS: Red Notice (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">0</a>
            <a class="view" href="#">6.2 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/cuoc-chien-thuong-luu-phan-3-22493">
            <div class="img-4-6">
              <div class="inline">
                <img alt="The Penthouse 3: War in Life (2021)"
                     src="https://static.247phim.com/162177/conversions/60bacbea4913e_3333-190_274.jpg">
                <span class="ribbon">
                                                                                                                                                                                                                                             6/11
                                                                                    </span>
              </div>
            </div>
            <p>Cuộc Chiến Thượng Lưu (Phần 3)</p>
            <p class="subtitle">The Penthouse 3: War in Life (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">2</a>
            <a class="view" href="#">11.5 K</a>
          </div>
        </div>
        <div class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://247phim.com/xemphim/am-anh-kinh-hoang-ma-xui-quy-khien-phan-3-22495">
            <div class="img-4-6">
              <div class="inline">
                <img alt="The Conjuring: The Devil Made Me Do It (2021)"
                     src="https://static.247phim.com/162184/conversions/60bd9f3e8c5b4_tc-190_274.jpg">
              </div>
            </div>
            <p>Ám Ảnh Kinh Hoàng: Ma Xui Quỷ Khiến (Phần 3)</p>
            <p class="subtitle">The Conjuring: The Devil Made Me Do It (2021)</p>
          </a>
          <div class="func">
            <a class="like mr-3" href="#">3</a>
            <a class="view" href="#">17.9 K</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
