<div class="main-content">
  <div class="support-func ml-auto"><a class="icon-support" href="#"></a></div>
  <div class="container search-result">
    <form action="/tim-kiem-phim" id="filterForm" method="GET">
      <input name="keyword" type="hidden" value="">
      <div class="filter row">
        <h5 class="col-12">Tìm kiếm:</h5>
        <div class="col-md-4 col-12">
          <div class="custom-select">
            <div class="select-selected">Thể loại</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>Gameshow</div>
              <div>Phiêu lưu</div>
              <div>Siêu anh hùng</div>
              <div>Bom tấn</div>
              <div>Phim chiếu rạp</div>
              <div>TV Shows</div>
              <div>Phim TVB</div>
              <div>Anime</div>
              <div>LGBTQ+</div>
              <div>Phim Châu Á Kinh Điển</div>
              <div>Phim mới</div>
              <div>Không Thể Bỏ Lỡ</div>
              <div>Phim lẻ</div>
              <div>Phim bộ</div>
              <div>Hành động</div>
              <div>Kịch tính, hồi hộp</div>
              <div>Tâm lý</div>
              <div>Cổ trang</div>
              <div>Hài hước</div>
              <div>Viễn tây</div>
              <div>Kinh dị</div>
              <div>Lịch sử</div>
              <div>Tình cảm, lãng mạn</div>
              <div>Hoạt hình</div>
              <div>Hình sự</div>
              <div>Chiến tranh</div>
              <div>Tài liệu</div>
              <div>Thần thoại</div>
              <div>Viễn tưởng</div>
              <div>Âm nhạc - Thể thao</div>
              <div>Kiếm hiệp, võ thuật</div>
              <div>Thảm họa</div>
              <div>Clip ngắn</div>
              <div>Phim 18+</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="custom-select">
            <div class="select-selected">Quốc gia</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>Ấn Độ</div>
              <div>Anh</div>
              <div>Canada</div>
              <div>Châu Á</div>
              <div>Đài Loan</div>
              <div>Đức</div>
              <div>Hàn Quốc</div>
              <div>Hồng Kông</div>
              <div>Mỹ</div>
              <div>Nga</div>
              <div>Nhật Bản</div>
              <div>Pháp</div>
              <div>Philippines</div>
              <div>Quốc gia khác</div>
              <div>Thái Lan</div>
              <div>Trung Quốc</div>
              <div>Úc</div>
              <div>Việt Nam</div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-12">
          <div class="custom-select">
            <div class="select-selected">Năm sản xuất</div>
            <div class="select-items select-hide">
              <div>Tất cả</div>
              <div>2021</div>
              <div>2020</div>
              <div>2019</div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="result">
      <h4>Có <span>{{total}}</span> kết quả tìm kiếm <span></span></h4>
      <div class="list-vod row category-tabs-item">

        <div *ngFor="let data of this.movies" class="item col-lg-2 col-md-3 col-sm-4 col-6">
          <a [routerLink]="['/phim', data.slug]">
            <div class="img-4-6">
              <div class="inline">
                <img
                  [alt]="data.name"
                  data-src="{{data.poster}}" loading="lazy">
              </div>
            </div>
            <p>{{ data.name }}</p>
            <p class="subtitle">{{ data.origin_name }} {{ data.release_date ? '(' + data.release_date + ')' : '' }}</p>
          </a>
        </div>
      </div>
      <nav class="navigation">
        <ul class="pagination justify-content-center">
          <nz-pagination (nzPageIndexChange)="changePageIndex($event)" [nzPageIndex]="page"
                         [nzPageSize]="18" [nzTotal]="total"></nz-pagination>
        </ul>
      </nav>
    </div>
  </div>
</div>
